p{
	border:2px solid black;
	padding: 20px;
	padding-top: 0px;
	margin: 20px;
	width: 26%;
	height: 200px;
	float: left;
	background-color: lightgray;
}
h1{
	text-align: center;
}
#Chicken{
	border: 2px solid black;
	margin-left: 193px;
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 6px;
	padding-top: 4 px;
	background-color: lightpink;
}
#beef{
	background-color: lightgreen;
	border: 2px solid black;
	margin-left: 216px;
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 6px;
	padding-top: 4 px;
}
#Sushi{
	background-color: orangered;
	border: 2px solid black;
	margin-left: 211px;
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 6px;
	padding-top: 4 px;
}